<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Listado de tickets</h1>
    <ul>
        {% for t in tickets %}
        <li>Usuario: {{t.user}} - Evento: {{t.event}} - Codigo: {{t.ticket_code}} - Fecha de compra: {{t.buy_date}} - Tipo: {{t.type_ticket}} - Cantidad: {{t.quantity}} </li>

        <form action="{% url 'ticket_delete' t.id %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('¿Estás seguro que querés eliminar este ticket?')">
                Eliminar
            </button>
        </form>

       
        {% endfor %}
    </ul>

    <a href="{% url 'home' %}">
        <button type="button">Volver a inicio</button>
    </a>

    
</body>
</html>