{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Formulario de Compra de Entradas para {{ event.title }}</h1>

    <form method="POST">
        {% csrf_token %}

        <!-- Selección de tipo de ticket -->
        <div class="mb-3">
            <label for="type_ticket" class="form-label">Tipo de Entrada</label>
            <select class="form-control" id="type_ticket" name="type_ticket" required>
                <option value="GENERAL">General</option>
                <option value="VIP">VIP</option>
            </select>
        </div>

        <!-- Cantidad de Entradas -->
        <div class="mb-3">
            <label for="quantity" class="form-label">Cantidad de Entradas</label>
            <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
        </div>

        <button type="submit" class="btn btn-primary">Comprar Entradas</button>
    </form>
</div>
{% endblock %}