<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Listado de tickets</h1>
    <ul>
        {% for t in tickets %}
        <li>{{t.user}} - {{t.event}} - {{t.price}} - {{t.buy_date}} - {{t.type_ticket}} - {{t.seat}} - {{t.status}} </li>

        <a href="{% url 'ticket_edit' t.id %}">Editar</a>

       
        {% endfor %}
    </ul>

    <div>
        <a href="{% url 'ticket_form' %}" class="btn btn-primary">
            Ir a crear ticket
        </a>
    </div>
    
</body>
</html>