{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center">
            <h1>{{ refund.client }}</h1>
            <div>
                {% if user_is_organizer %}
                    <a href="{% url 'refund_edit' refund.id %}"
                        class="btn btn-bg btn-warning"
                        aria-label="Editar"
                        title="Editar">
                        <i class="bi bi-pencil" aria-hidden="true"></i>
                    </a>
                {% endif %}
                <a href="{% url 'refund_requests' %}"
                        class="btn btn-bg btn-outline-primary"
                        aria-label="Volver"
                        title="Volver">
                        <i class="bi bi-arrow-left-square" aria-hidden="true"></i>
                    </a>
            </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Detalles de la solicitud</h5>
                <p class="card-text">Codigo de ticket: {{ refund.ticket_code }}</p>
                <p class="card-text">Razón: {{ refund.reason }}</p>
                <div class="mt-4">
                    <div class="d-flex align-items-center mb-3">
                        <div class="bg-light rounded-circle p-2 me-3">
                            <i class="bi bi-calendar-event text-primary"></i>
                        </div>
                        <div>
                            <h6 class="mb-0">Fecha y Hora de solicitud</h6>
                            <p class="mb-0">{{ refund.created_at|date:"l, j \\d\\e F \\d\\e Y, H:i" }}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="bg-light rounded-circle p-2 me-3">
                            <i class="bi bi-person text-primary"></i>
                        </div>
                        <div>
                            <h6 class="mb-0">Estado de aprobación</h6>
                            <p class="mb-0">
                                {% if refund.approved == True %}
                                    ✅ Aprobado
                                {% elif refund.approved == False %}
                                    ❌ No aprobado
                                {% else %}
                                    Pendiente
                                {% endif %}
                            </p>
                            {% if refund.approved and refund.approval_date %}
                                <h6 class="mt-2 mb-0">Fecha de aprobación:</h6>
                                <p class="mb-0">{{ refund.approval_date|date:"l, j \\d\\e F \\d\\e Y, H:i" }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
