<!--Autor: Buiatti Pedro Nazareno-->

{% block content %}
    <div>
        <h2>
            {% if form.instance.pk %}Editar{% else %}Crear {% endif %}
            Notificación 
        </h2>

        <form method="post">
            {% csrf_token %} <!--genera un token almacenado en la sesion del usuario, para verificar que la solicitud proviene de una fuente confiable-->
            <div>
                {{ form.title.label_tag }} 
                {{ form.title }}
            </div>
            <div>
                {{ form.message.label_tag }} 
                {{ form.message }}
            </div>
            <div>
                {{ form.priority.label_tag }} 
                {{ form.priority }}
            </div>

            <div>
                <button type="sumbit">Guardar</button>
                <a href="{% url 'listNotifications' %}">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock content %}
